In [1]:
import pandas as pd
import numpy as np

In [7]:
import os
os.getcwd()

'C:\\Users\\LSH\\Desktop\\HyoDol\\1.Preprocess'

In [11]:
import os
import glob

path = 'C:\\Users\\LSH\\Desktop\\효돌\\data_csv\\data'
extension = 'csv'
os.chdir(path)
csv_list = glob.glob('*.{}'.format(extension))

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: '.data'

In [ ]:
csv_list

In [4]:
nonuser_id=pd.read_excel('nonuser_id.xlsx', '테스트계정정보')['host_user_id']

# `scc_doll_option`

In [5]:
scc_doll_option=pd.read_csv(csv_list[4],sep=';')
scc_doll_option['serial_number']=np.arange(scc_doll_option.shape[0])//2
print(scc_doll_option.shape)
print(scc_doll_option.columns)
scc_doll_option.head()

(11631, 16)
Index(['doll_id', 'no_alarm', 'relig1', 'relig2', 'relig3', 'relig4', 'relig5',
       'religion_alarm', 'calender_type', 'is_edited', 'is_active_detect',
       'grandFM', 'honorFM', 'right_ear_function', 'left_ear_function',
       'serial_number'],
      dtype='object')

,doll_id,no_alarm,relig1,relig2,relig3,relig4,relig5,religion_alarm,calender_type,is_edited,is_active_detect,grandFM,honorFM,right_ear_function,left_ear_function,serial_number
0,29,0,07,08,13,18,23,0,1,0,1,1,0,0000001,0000010,0
1,33,0,07,08,13,18,23,0,1,0,1,1,0,0000001,0000010,0
2,43,0,07,08,13,18,23,0,1,0,1,1,0,0000001,0000010,1
3,69,0,07,08,13,18,23,0,1,0,1,1,0,0000001,0000010,1
4,215,1,07,08,13,18,23,1,1,0,1,1,0,0000001,0000010,2

In [133]:
key=scc_doll_option['doll_id']
value=scc_doll_option['serial_number']
matching=dict(zip(key,value))

# `log_doll_drug_consume`

In [134]:
log_doll_drug_consume=pd.read_csv(csv_list[0],sep=';')
print(log_doll_drug_consume.shape)
print(log_doll_drug_consume.columns)
log_doll_drug_consume.head()
log_doll_drug_consume=log_doll_drug_consume[(log_doll_drug_consume.drug_year>2018)&(log_doll_drug_consume.drug_month>3)]
log_doll_drug_consume['serial_number']=log_doll_drug_consume['doll_id'].replace(matching)
print(log_doll_drug_consume.shape)

(256102, 6)
Index(['doll_id', 'consume', 'drug_year', 'drug_month', 'drug_day',
       'drug_hour'],
      dtype='object')
(0, 7)

# `log_emergency_push`

In [135]:
log_emergency_push=pd.read_csv(csv_list[1],sep=';')
log_emergency_push=log_emergency_push[(log_emergency_push.last_push_year>2018)&(log_emergency_push.last_push_month>3)]
log_emergency_push.drop('push_id',axis=1,inplace=True)
log_emergency_push['serial_number']=log_emergency_push['doll_id'].replace(matching)

print(log_emergency_push.shape)
print(log_emergency_push.columns)
log_emergency_push.head()

(34856, 5)
Index(['doll_id', 'last_push_year', 'last_push_month', 'last_push_day',
       'serial_number'],
      dtype='object')

      doll_id  last_push_year  last_push_month  last_push_day  serial_number
1680   124946            2019                4              1            773
1682   125018            2019                4              1            809
1683   124936            2019                4              1            768
1684   125021            2019                4              1            810
1685   124946            2019                4              1            773

# `scc_agency`

In [136]:
scc_agency=pd.read_csv(csv_list[2],sep=';')
print(scc_agency.shape)
print(scc_agency.columns)
scc_agency.head()

(0, 2)
Index(['agency_id', 'agency_name'], dtype='object')

Empty DataFrame
Columns: [agency_id, agency_name]
Index: []

# `scc_doll`

In [137]:
scc_doll=pd.read_csv(csv_list[3],sep=';')
scc_doll=scc_doll[~scc_doll['user_id'].isin(nonuser_id)]
scc_doll=scc_doll[scc_doll['user_id']>99]
scc_doll['serial_number']=scc_doll['doll_id'].replace(matching)

print(scc_doll.shape)
print(scc_doll.columns)
scc_doll.head()

(5055, 26)
Index(['doll_id', 'user_id', 'battery', 'active_monitor', 'sex', 'birthday',
       'HOUR(wakeup)', 'HOUR(breakfast)', 'HOUR(lunch)', 'HOUR(dinner)',
       'HOUR(sleep)', 'ventilation_walk', 'is_edited', 'drug1', 'drug2',
       'drug3', 'drug4', 'drug5', 'drug6', 'drug7', 'regsted_year',
       'regsted_month', 'disease1', 'disease2', 'disease3', 'serial_number'],
      dtype='object')

,doll_id,user_id,battery,active_monitor,sex,birthday,HOUR(wakeup),HOUR(breakfast),HOUR(lunch),HOUR(dinner),...,drug4,drug5,drug6,drug7,regsted_year,regsted_month,disease1,disease2,disease3,serial_number
1031,123533,100,22,24,1,1976,7,8,13,18,...,1.0,1.0,1.0,1.0,2018,11,0.0,0.0,0.0,66
1032,123534,101,0,2,1,1977,7,8,13,18,...,0.0,0.0,0.0,0.0,2018,11,0.0,0.0,0.0,67
1033,123535,101,0,2,1,1977,7,8,13,18,...,0.0,0.0,0.0,0.0,2018,11,0.0,0.0,0.0,67
1034,123536,102,0,2,1,1977,7,8,13,18,...,0.0,0.0,0.0,0.0,2018,11,0.0,0.0,0.0,68
1035,123537,102,0,2,1,1940,7,8,13,18,...,0.0,0.0,0.0,0.0,2018,11,0.0,0.0,0.0,68

In [148]:
scc_doll['age']=2021-scc_doll['birthday']
scc_doll.drop('birthday',axis=1,inplace=True)

# `scc_ear_function_log`

In [138]:
scc_ear_function_log=pd.read_csv(csv_list[5],sep=';')
scc_ear_function_log=scc_ear_function_log[(scc_ear_function_log.year>2018)&(scc_ear_function_log.month>3)]
scc_ear_function_log['serial_number']=scc_ear_function_log['doll_id'].replace(matching)

print(scc_ear_function_log.shape)
print(scc_ear_function_log.columns)
scc_ear_function_log.head()

(141151, 14)
Index(['doll_id', 'story', 'religion', 'music', 'english', 'remembrance',
       'quiz', 'gymnastics', 'classic_music', 'religion_music', 'year',
       'month', 'day', 'serial_number'],
      dtype='object')

,doll_id,story,religion,music,english,remembrance,quiz,gymnastics,classic_music,religion_music,year,month,day,serial_number
0,128031,0,0,0,0,0,0,1,0,0,2020,4,21,2315
1,128031,0,0,0,0,0,1,0,0,0,2020,4,21,2315
2,128034,0,0,0,0,0,0,1,0,0,2020,4,21,2317
3,128030,0,0,0,0,0,0,1,0,0,2020,4,22,2315
4,128030,0,0,0,0,0,1,0,0,0,2020,4,22,2315

# `scc_emergency_call`

In [139]:
scc_emergency_call=pd.read_csv(csv_list[6],sep=';')
scc_emergency_call=scc_emergency_call[(scc_emergency_call.call_year>2018)&(scc_emergency_call.call_month>3)]
scc_emergency_call=scc_emergency_call[~scc_emergency_call['user_id'].isin(nonuser_id)]
scc_emergency_call=scc_emergency_call[scc_emergency_call['user_id']>99]
scc_emergency_call['serial_number']=scc_emergency_call['doll_id'].replace(matching)


print(scc_emergency_call.shape)
print(scc_emergency_call.columns)
scc_emergency_call.head()

(17526, 9)
Index(['call_id', 'doll_id', 'user_id', 'call_confirm', 'call_year',
       'call_month', 'call_day', 'call_hour', 'serial_number'],
      dtype='object')

,call_id,doll_id,user_id,call_confirm,call_year,call_month,call_day,call_hour,serial_number
2,3,128182,7962,0,2020,5,23,21,2391
3,4,128123,7609,0,2020,5,24,6,2361
4,5,128123,7942,0,2020,5,24,6,2361
5,6,128123,7609,0,2020,5,24,6,2361
6,7,128123,7942,0,2020,5,24,6,2361

# `scc_user`

In [140]:
scc_user=pd.read_csv(csv_list[7],sep=';')
scc_user=scc_user[~scc_user['user_id'].isin(nonuser_id)]
scc_user=scc_user[scc_user['user_id']>99]

print(scc_user.shape)
print(scc_user.columns)
scc_user.head()

(1938, 7)
Index(['user_id', 'is_resign', 'agency_code', 'alarm_emergency',
       'alarm_emergency_call', 'alarm_low_battery', 'alarm_disconnect'],
      dtype='object')

,user_id,is_resign,agency_code,alarm_emergency,alarm_emergency_call,alarm_low_battery,alarm_disconnect
45,7187,0,0.000000e+00,0,1,0,0
90,7189,0,0.000000e+00,0,1,0,0
97,7229,1,0.000000e+00,1,1,1,0
100,8122,0,3.442000e+10,1,1,1,0
101,7191,0,0.000000e+00,1,1,1,0

# `scc_user_doll_group`

In [141]:
scc_user_doll_group=pd.read_csv(csv_list[8],sep=';')
scc_user_doll_group.columns = ['group_id','doll_id','user_id','is_host','is_agency']
scc_user_doll_group=scc_user_doll_group[~scc_user_doll_group['user_id'].isin(nonuser_id)]
scc_user_doll_group=scc_user_doll_group[scc_user_doll_group['user_id']>99]
scc_user_doll_group['serial_number']=scc_user_doll_group['doll_id'].replace(matching)

print(scc_user_doll_group.shape)
print(scc_user_doll_group.columns)
scc_user_doll_group.head()

(5099, 6)
Index(['group_id', 'doll_id', 'user_id', 'is_host', 'is_agency',
       'serial_number'],
      dtype='object')

     group_id  doll_id  user_id  is_host  is_agency  serial_number
938      1262   123533      100        1          1             66
939      1263   123534      101        1          1             67
940      1264   123535      101        1          1             67
941      1265   123536      102        1          1             68
942      1266   123537      102        1          1             68

In [142]:
scc_user_doll_group['group_id'].nunique()

5099

In [143]:
scc_user_doll_group['doll_id'].nunique()

3752

# Merge

In [183]:
temp=pd.merge(scc_user_doll_group, scc_emergency_call, on='doll_id', how='outer')
doll_df=pd.merge(temp, scc_doll, on='doll_id', how='outer')

In [191]:
doll_df.head()

,group_id,doll_id,user_id_x,is_host,is_agency,serial_number_x,call_id,user_id_y,call_confirm,call_year,...,drug5,drug6,drug7,regsted_year,regsted_month,disease1,disease2,disease3,serial_number,age
0,1262.0,123533,100.0,1.0,1.0,66.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,2018.0,11.0,0.0,0.0,0.0,66.0,45.0
1,1263.0,123534,101.0,1.0,1.0,67.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2018.0,11.0,0.0,0.0,0.0,67.0,44.0
2,1264.0,123535,101.0,1.0,1.0,67.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2018.0,11.0,0.0,0.0,0.0,67.0,44.0
3,1265.0,123536,102.0,1.0,1.0,68.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2018.0,11.0,0.0,0.0,0.0,68.0,44.0
4,1266.0,123537,102.0,1.0,1.0,68.0,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,2018.0,11.0,0.0,0.0,0.0,68.0,81.0